@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav,
.nav a {
  font-family: "Poppins", sans-serif;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover; /* Pastikan gambar menyesuaikan ukuran */
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%; /* Memastikan container mengisi seluruh lebar layar */
}

/* Navigation */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 16px;
  font-weight: 500;
  padding: 0 40px;
}

.nav a {
  color: #666;
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s ease;
}

.nav a.active {
  color: #b80000;
}

.nav a:hover {
  color: #b80000;
}

.hamburger-menu {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 992px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
  }

  .nav a {
    padding: 10px 20px;
  }

  .nav.links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    z-index: 100;
  }

  .nav.links.active {
    display: flex;
  }

  .hamburger-menu {
    display: block;
  }

  .container.header-content {
    padding-right: 20px;
  }
}

/* Untuk layar lebih kecil dari 576px (untuk mobile sangat kecil) */
@media (max-width: 576px) {
  html,
  body {
    height: 100%; /* Membuat body dan html mengambil seluruh tinggi layar pada mobile */
    overflow-x: hidden; /* Menghindari scroll horizontal pada mobile */
  }

  .nav {
    gap: 20px;
    padding: 0 10px;
  }

  .hamburger-menu {
    font-size: 24px;
  }
}
