* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Media Queries */

/* Small devices (mobile) */
@media (max-width: 767px) {
  .container {
    padding: 0 8px; /* Adjust container padding on smaller screens */
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 0 12px; /* Adjust container padding on medium screens */
  }
}

/* Large devices (desktops) */
@media (min-width: 1025px) {
  .container {
    padding: 0 16px; /* Default padding for larger screens */
  }
}

html {
  scroll-behavior: smooth;
}

/* Efek fade in */
.fade-element {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-element.visible {
  opacity: 1;
  transform: translateY(0);
}
